go 1.22

use (
	./libs/golang/clients/resources/go-minio
	./libs/golang/clients/resources/go-mongo
	./libs/golang/clients/resources/go-rabbitmq
	./libs/golang/service-discovery
	./libs/golang/shared/id/go-md5
	./libs/golang/shared/type-tools
	./libs/golang/wrappers/core/resource-contract
	./libs/golang/wrappers/core/resource-mapping
	./libs/golang/wrappers/resources/minio-wrapper
	./libs/golang/wrappers/resources/mongo-wrapper
	./libs/golang/wrappers/resources/rabbitmq-wrapper
)
